@model FitnesClanstvo.Models.Clanstvo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clanstvo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zacetek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zacetek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Konec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Konec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clan.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
